body {


    background-color: blueviolet;
}

#tarolo {

    background-color: red;
    color: dimgray;
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin: 10px;
    padding: 10px;
}

#menu {
    padding: 10px;
}

#menu a {
    color: black;
    text-decoration: none;
    border: 1px solid gray;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

#menu a:hover {
    color: crimson;
}