body {


    background-color: crimson;
}

#tarolo {

    background-color: yellow;
    width: 80%;
    max-width: 800px;
    margin: auto;
 
    padding: 10px;
}

#menu {
    padding: 10px;
}

#menu a {
    color:blue;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#menu a:hover {
    color: crimson;
}